html {
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
}

header ul li {
    list-style: none;
    display: inline-block;
    padding: 5px 
}

.container {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

#questions h2 {text-align: center;}

.btn {
    background-color: navy;
    color: white;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    border-color: black;
    font-size: 1.5em;
}

.btn:hover {
    border-color: lightblue;
}


#questions {
    display: grid;
    grid-template-columns: repeat(1,auto);
}

.correct {
    background-color: green;
    color: white;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    border-color: black;
    font-size: 1.5em;
}

.wrong {
    background-color: red;
    color: white;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    border-color: black;
    font-size: 1.5em;
}

#scoreList {
    list-style: none;
    color: black;
    font-size: large;
    padding: 0;
}